MT5_ACCOUNT=6194570
MT5_PASSWORD=Zemirah123.
MT5_SERVER=Deriv-Demo
MT5_PATH=

DERIV_MT5_ACCOUNT=6194570
DERIV_MT5_PASSWORD=Zemirah123.
DERIV_MT5_SERVER=Deriv-Demo
DERIV_MT5_PATH=

REDIS_URL=redis://localhost:6379/0
DATABASE_URL=sqlite+aiosqlite:///algoedge.db
HOST=0.0.0.0
PORT=8000
DEBUG=false
LOG_LEVEL=INFO

ENCRYPTION_KEY=pVOMSC2LEIc9M6RUB7TUQEDJ4qlYP0znY7bMQMLVOBQ=
VAPID_PRIVATE_KEY=oTBLsjxf4s8txGA3tzkXR48XqBU6y1-tCmiiM7R3NAM
VAPID_PUBLIC_KEY=PQhbJXoSYkXBcEfjfzJnuq78ww4BOn2-ZU5FGDk79uH6amXrqGgyuRJ0m1R1S9eu9lp3SqTjTWuXDv5kmTPTxfo
VAPID_CLAIMS_EMAIL=admin@algoedge.test